{
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "max-len": ["error", 120, {"ignoreUrls": true}],
    "no-plusplus": "off",
    "no-tabs": "off",
    "no-alert": "off",
    "prefer-destructuring": "off",
    "no-console": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "airbnb-base", "prettier"]
}
